require 'sinatra'
require 'json'
require_relative 'lib/logstash_logger'

$ROOT = File.expand_path(File.dirname(__FILE__))

configure do
  enable :logging

  file = File.new(File.join($ROOT, "sinatra.log"), 'a+')
  file.sync = true

  use LogstashLogger, file
end

get '/app' do
    "Welcome to the ATG demo application!\n\nlinks:\n\n\nKibana: http://{{ .elasticsearch_hostpublic }}:9200/_plugin/kibana3/index.html#/dashboard/file/logstash.json\n\nKopf: http://{{ .elasticsearch_hostpublic }}:9200/_plugin/kopf\n\n\n"
end
